@model PedidoLancheViewModel

@{
    ViewData["Title"] = "PedidoLanches";
    decimal totalPedido = 0;
}

<h1>Lanches do Pedido</h1>
<hr />
<h4>Pedido: @Html.DisplayFor(model => model.Pedido.Id)</h4>
<h4>Cliente: @Html.DisplayFor(model => model.Pedido.Nome)</h4>
<h4>Data: @Html.DisplayFor(model => model.Pedido.Enviado)</h4>
<h4>Entrega: @Html.DisplayFor(model => model.Pedido.EntregueEm)</h4>
<br />
<hr />
<table class="table">
    @foreach (var item in Model.PedidoDetalhes)
    {
        totalPedido += (item.Lanche.Preco * @item.Quantidade);
        <tr>
            <td align="right">
                <h3>@Html.DisplayFor(modelItem => item.Lanche.Nome)</h3>
            </td>
            <td align="right">
                <img src="@item.Lanche.ImagemUrl" class="img-fluid" height="100" width="100" />
            </td>
            <td align="right">
                <h3>@string.Format("{0:C}", item.Lanche.Preco)</h3>
            </td>
            <td align="right">
                <h3>@Html.DisplayFor(modelItem => item.Quantidade)</h3>
            </td>
        </tr>
    }
    <tr>
        <td colspan="3">&nbsp;</td>
        <td align="right">
            <h3>Total do Pedido: @string.Format("{0:C}", @totalPedido)</h3>
        </td>
    </tr>
</table>
<a asp-action="Index" class="btn btn-outline-info">Retornar</a>